extends base

block content
    +header("Hi, " + name + "!")
    +paragraph
        | You are receiving this email because you have requested to reset your password with this email address.
        br
        | Please click this link to reset your password:
    p
        - const resetPasswordLink = origin + "/password-reset/" + hash;
        a(href=resetPasswordLink)=resetPasswordLink
    +paragraph.
        This link will expire in 24 hours.
    +paragraph.
        If you did not execute this action, please ignore this message.
    include signature
